# Final Project

## Predict whether a mammogram mass is benign or malignant

We'll be using the "mammographic masses" public dataset from the UCI repository (source: https://archive.ics.uci.edu/ml/datasets/Mammographic+Mass)

This data contains 961 instances of masses detected in mammograms, and contains the following attributes:


   1. BI-RADS assessment: 1 to 5 (ordinal)  
   2. Age: patient's age in years (integer)
   3. Shape: mass shape: round=1 oval=2 lobular=3 irregular=4 (nominal)
   4. Margin: mass margin: circumscribed=1 microlobulated=2 obscured=3 ill-defined=4 spiculated=5 (nominal)
   5. Density: mass density high=1 iso=2 low=3 fat-containing=4 (ordinal)
   6. Severity: benign=0 or malignant=1 (binominal)
   
BI-RADS is an assesment of how confident the severity classification is; it is not a "predictive" attribute and so we will discard it. The age, shape, margin, and density attributes are the features that we will build our model with, and "severity" is the classification we will attempt to predict based on those attributes.

Although "shape" and "margin" are nominal data types, which sklearn typically doesn't deal with well, they are close enough to ordinal that we shouldn't just discard them. The "shape" for example is ordered increasingly from round to irregular.

A lot of unnecessary anguish and surgery arises from false positives arising from mammogram results. If we can build a better way to interpret them through supervised machine learning, it could improve a lot of lives.

## Your assignment

Build a Multi-Layer Perceptron and train it to classify masses as benign or malignant based on its features.

The data needs to be cleaned; many rows contain missing data, and there may be erroneous data identifiable as outliers as well.

Remember to normalize your data first! And experiment with different topologies, optimizers, and hyperparameters.

I was able to achieve over 80% accuracy - can you beat that?

## Let's begin: prepare your data

Start by importing the mammographic_masses.data.txt file into a Pandas dataframe (hint: use read_csv) and take a look at it.

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
data = pd.read_csv("mammographic_masses.data.txt",
                   names=[
                       "BI_RADS", "age", "shape", "margin", "density",
                       "severity"
                   ], na_values='?')
data.head()

   BI_RADS   age  shape  margin  density  severity
0      5.0  67.0    3.0     5.0      3.0         1
1      4.0  43.0    1.0     1.0      NaN         1
2      5.0  58.0    4.0     5.0      3.0         1
3      4.0  28.0    1.0     1.0      3.0         0
4      5.0  74.0    1.0     5.0      NaN         1

Make sure you use the optional parmaters in read_csv to convert missing data (indicated by a ?) into NaN, and to add the appropriate column names (BI_RADS, age, shape, margin, density, and severity):

Evaluate whether the data needs cleaning; your model is only as good as the data it's given. Hint: use describe() on the dataframe.

In [3]:
data.describe()

          BI_RADS         age       shape      margin     density    severity
count  959.000000  956.000000  930.000000  913.000000  885.000000  961.000000
mean     4.348279   55.487448    2.721505    2.796276    2.910734    0.463059
std      1.783031   14.480131    1.242792    1.566546    0.380444    0.498893
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   45.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

There are quite a few missing values in the data set. Before we just drop every row that's missing data, let's make sure we don't bias our data in doing so. Does there appear to be any sort of correlation to what sort of data has missing fields? If there were, we'd have to try and go back and fill that data in.

In [4]:
data.head(40)

    BI_RADS   age  shape  margin  density  severity
0       5.0  67.0    3.0     5.0      3.0         1
1       4.0  43.0    1.0     1.0      NaN         1
2       5.0  58.0    4.0     5.0      3.0         1
3       4.0  28.0    1.0     1.0      3.0         0
4       5.0  74.0    1.0     5.0      NaN         1
5       4.0  65.0    1.0     NaN      3.0         0
6       4.0  70.0    NaN     NaN      3.0         0
7       5.0  42.0    1.0     NaN      3.0         0
8       5.0  57.0    1.0     5.0      3.0         1
9       5.0  60.0    NaN     5.0      1.0         1
10      5.0  76.0    1.0     4.0      3.0         1
11      3.0  42.0    2.0     1.0      3.0         1
12      4.0  64.0    1.0     NaN      3.0         0
13      4.0  36.0    3.0     1.0      2.0         0
14      4.0  60.0    2.0     1.0      2.0         0
15      4.0  54.0    1.0     1.0      3.0         0
16      3.0  52.0    3.0     4.0      3.0         0
17      4.0  59.0    2.0     1.0      3.0         1
18      4.0  54.0    1.0     1.0      3.0         1
19      4.0  40.0    1.0     NaN      NaN         0
20      NaN  66.0    NaN     NaN      1.0         1
21      5.0  56.0    4.0     3.0      1.0         1
22      4.0  43.0    1.0     NaN      NaN         0
23      5.0  42.0    4.0     4.0      3.0         1
24      4.0  59.0    2.0     4.0      3.0         1
25      5.0  75.0    4.0     5.0      3.0         1
26      2.0  66.0    1.0     1.0      NaN         0
27      5.0  63.0    3.0     NaN      3.0         0
28      5.0  45.0    4.0     5.0      3.0         1
29      5.0  55.0    4.0     4.0      3.0         0
30      4.0  46.0    1.0     5.0      2.0         0
31      5.0  54.0    4.0     4.0      3.0         1
32      5.0  57.0    4.0     4.0      3.0         1
33      4.0  39.0    1.0     1.0      2.0         0
34      4.0  81.0    1.0     1.0      3.0         0
35      4.0  77.0    3.0     NaN      NaN         0
36      4.0  60.0    2.0     1.0      3.0         0
37      5.0  67.0    3.0     4.0      2.0         1
38      4.0  48.0    4.0     5.0      NaN         1
39      4.0  55.0    3.0     4.0      2.0         0

If the missing data seems randomly distributed, go ahead and drop rows with missing data. Hint: use dropna().

In [5]:
data.dropna(inplace=True)
data.describe()

          BI_RADS         age       shape      margin     density    severity
count  830.000000  830.000000  830.000000  830.000000  830.000000  830.000000
mean     4.393976   55.781928    2.781928    2.813253    2.915663    0.485542
std      1.888371   14.671782    1.242361    1.567175    0.350936    0.500092
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   46.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

Next you'll need to convert the Pandas dataframes into numpy arrays that can be used by scikit_learn. Create an array that extracts only the feature data we want to work with (age, shape, margin, and density) and another array that contains the classes (severity). You'll also need an array of the feature name labels.

In [6]:
features = np.array(data[["age","shape", "margin", "density"]].values)
classes = np.array(data["severity"].values)
labels = np.array(["age","shape", "margin", "density"])
features

array([[67.,  3.,  5.,  3.],
       [58.,  4.,  5.,  3.],
       [28.,  1.,  1.,  3.],
       ...,
       [64.,  4.,  5.,  3.],
       [66.,  4.,  5.,  3.],
       [62.,  3.,  3.,  3.]])

Some of our models require the input data to be normalized, so go ahead and normalize the attribute data. Hint: use preprocessing.StandardScaler().

In [7]:
scaler = preprocessing.StandardScaler()
features = scaler.fit_transform(features)
features

array([[ 0.7650629 ,  0.17563638,  1.39618483,  0.24046607],
       [ 0.15127063,  0.98104077,  1.39618483,  0.24046607],
       [-1.89470363, -1.43517241, -1.157718  ,  0.24046607],
       ...,
       [ 0.56046548,  0.98104077,  1.39618483,  0.24046607],
       [ 0.69686376,  0.98104077,  1.39618483,  0.24046607],
       [ 0.42406719,  0.17563638,  0.11923341,  0.24046607]])

## Now build your neural network.

Now set up an actual MLP model using Keras:

In [8]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Embedding

In [15]:
def create_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_dim=4))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
                  optimizer='adam',
                  metrics=['accuracy'])
    return model

In [16]:
from sklearn.model_selection import cross_val_score
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

# Wrap our Keras model in an estimator compatible with scikit_learn
estimator = KerasClassifier(build_fn=create_model, epochs=100, verbose=0)
# Now we can use scikit_learn's cross_val_score to evaluate this model identically to the others
cv_scores = cross_val_score(estimator, features, classes, cv=10)
cv_scores.mean()

WARNING:tensorflow:From C:\Anaconda\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Anaconda\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

0.8060240924358368

## How did you do?

Which topology, and which choice of hyperparameters, performed the best? Feel free to share your results!